<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ethara">
  <test thread-count="5" name="Ethara Test cases">
	  <parameter name="browser" value="chrome">	  </parameter>
	  <classes>
		  <class name="testScripts.Ethara_home"></class>
		   <class name="testScripts.Ethara_venues"></class>
		    <class name="testScripts.Ethara_artists"></class>
		     <class name="testScripts.Ethara_blo-subscription"></class>
		      <class name="testScripts.Ethara_blogs"></class>
		       <class name="testScripts.Ethara_contact_us"></class>
		        <class name="testScripts.Ethara_events"></class>
		         <class name="testScripts.Ethara_footer_links"></class>
		          <class name="testScripts.Ethara_header_menu"></class>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
